@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$primary-color: theme('colors.blue.500');
$fg-color: theme('colors.gray.900');
$bg-color: theme('colors.gray.100');

:focus{
  outline: none !important;
}

body {
  background-color: $bg-color;
}

.charts {
  & .chart {
    transition: all .2s ease;

    & > svg {
      transition: all .2s ease;
      stroke: $fg-color;
      fill: $fg-color;
      & > text {
        stroke: none;
      }
    }

    &.active > svg {
      stroke: $primary-color;
      fill: $primary-color;
    }
  }
}
