$primary-color: #c83737;
$black: #000;

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $primary-color;
  border: 0.1rem solid $primary-color;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  color: $primary-color;
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  color: $primary-color;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  color: $primary-color;
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: $primary-color;
}

pre {
  border-left: 0.3rem solid $primary-color;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: $primary-color;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#{$primary-color}" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

a {
  color: $primary-color;
}

.sheet-input {
  $margin: 16px;
  transition: height .5s ease;
  height: calc(100vh - #{2 * $margin});
  margin: $margin 0;
  resize: none;
  display: block;
  overflow: auto;

  &.has-content {
    height: 10vh;

    &:hover {
      height: calc(50vh - #{2 * $margin});
    }
  }
}

.sheet-output {
  white-space: pre-wrap;
  strong {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.button-group {
  display: flex;
  justify-content: center;

  & > button {
    margin: 0 8px;
  }
}

.charts {
  display: flex;
  align-items: center;

  & > .chart {
    max-width: 120px;

    & > svg {
      stroke: $black;
      fill: $black;
      & > text {
        stroke: none;
      }
    }
    &.active > svg {
      stroke: $primary-color;
      fill: $primary-color;
    }
  }
}
