.sheet-input {
  $margin: 16px;
  transition: height .5s ease;
  height: calc(100vh - #{2 * $margin});
  margin: $margin 0;
  resize: none;
  display: block;
  overflow: auto;

  &.has-content {
    height: 10vh;

    &:hover {
      height: calc(50vh - #{2 * $margin});
    }
  }
}

.sheet-output {
  white-space: pre-wrap;
}

.button-group {
  display: flex;
  justify-content: center;

  & > button {
    margin: 0 8px;
  }
}

.charts {
  display: flex;
  align-items: center;

  & > .chart {
    max-width: 120px;
  }
}
