.sheet-input {
  transition: height .5s ease;
  height: calc(100vh - 32px);
  margin: 16px 0;
  resize: none;
  overflow: auto;
}

.sheet-input.has-content {
  height: 10vh;
}

.sheet-input.has-content:hover {
  height: 50vh;
}

.sheet-output {
  white-space: pre-wrap;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group > button {
  margin: 0 8px;
}

.charts {
  display: flex;
  align-items: center;
}

.charts > .chart {
  max-width: 120px;
}
