$primary-color: theme('colors.blue.500');
$fg-color: theme('colors.gray.900');
$bg-color: theme('colors.gray.100');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:focus{
  outline: none !important;
}

body {
  background-color: $bg-color;
}

.sheet-input {
  $margin: 16px;
  transition: all .4s ease;
  height: calc(100vh - #{2 * $margin} - 56px);

  &.has-content {
    height: calc(50vh - #{2 * $margin});
  }

  & > textarea {
    resize: none;
  }
}

.sheet-output {
  color: $fg-color;
  white-space: pre-wrap;
  strong {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.charts {
  & .chart {
    max-width: 7rem;
    transition: all .2s ease;

    & > svg {
      stroke: $fg-color;
      fill: $fg-color;
      & > text {
        stroke: none;
      }
    }
  }
}
